.buttons {
    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 50%;
    background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #7281f0 100% );;
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
    color: black;
    font-weight: 700;
    font-family: 'TASA Explorer', sans-serif;
  }

.paginado{
    width: 100vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap: 1rem;
}


@media (min-width: 371px) and (max-width: 767px){
  .buttons{
    --size: 25px;
    max-width: 30px;
    min-width: 30px;
    height: 30px;
    font-weight: 600;
    margin: 0;
  }

  .paginado{
    /* border: 1px solid red; */
    width: 100vw;
    justify-content: space-evenly;
    gap: 0.2rem;
    position: relative;
    right: 40px;
  }
}